 {% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Products by Category</title>
	
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <style media="screen">
      body, html {
        background-image: url("https://i.ibb.co/pfymdGW/ramiro-mendes-s-MCBEI5zkqc-unsplash.jpg");
        height: 90%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
	
    <div class="text">
		<h1>Products by Category</h1>
		<h3>Usage: http://3.142.142.43:8080/analyze/finaloutputcategories?cat=your_term_here</h3>
		<div class="searchBar">
        <form action="/analyze/finaloutputcategories?cat=Art" method="post" style="width:90%; margin-left:5%">
			{% csrf_token %}
			<input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value=""/>
			<button id="searchQuerySubmit" type="submit" name="searchQuerySubmit"">
			<svg style="width:50px;height:50px;margin:0 0 20% 1400%" viewBox="0 0 100 100"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
          </svg>
        </button>
	</form>
      </div>
		
      <div class="bound">
		
<table>
<tr>

<th>Name</th>
<th>Price</th>
<th>Tag 1</th>

<th>Tag 2</th>
</tr>
        {% for element in categories %}
<tr>

<td>{{ element.name }}
</td>
<td>{{ element.price }}</td>
<td>{{ element.category1 }}</a></td>
<td>{{ element.category2 }}</td>


</tr>
        {% endfor %}
</table>
      </div>
    </div>
  </body>
</html>
